<div class="jumbotron">
  <h1 class="display-4"><%= t('inicio.bemvindo')  %></h1>
  <p class="lead"><%= t('inicio.frase')  %></p>
  <hr class="my-4">
  <p><%= t('inicio.frase2')  %></p>
  <%= render "menu"  %>
</div>
