<h1><%= t('inicio.edit') %></h1>

<%= render 'form', coin: @coin %>

<%= link_to t('links.show'), @coin, class: "btn btn-secondary" %> 
<%= link_to t('links.backs'), coins_path, class: "btn btn-secondary" %>
